In [6]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [11]:
dataset = pd.read_csv("C:/Users/itrem/OneDrive/Dev/dsti/S23/Python Project/Goodreads-books-rating/data/clean_books_automated.csv", on_bad_lines='skip')

In [12]:
# Basic stats
print("Number of rows : {}".format(dataset.shape[0]))
print()

print("Display of dataset: ")
display(dataset.head())
print()

print("Basics statistics: ")
data_desc = dataset.describe(include='all')
display(data_desc)
print()

print("Percentage of missing values: ")
display(100*dataset.isnull().sum()/dataset.shape[0])

Number of rows : 11127

Display of dataset:

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic

Basics statistics:

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
count,11127.000000,11127,11127,11127.000000,11127,1.112700e+04,11127,11127.000000,1.112700e+04,11127.000000,11127,11127
unique,NaN,10352,6643,NaN,11127,NaN,27,NaN,NaN,NaN,3679,2293
top,NaN,The Brothers Karamazov,Stephen King,NaN,0439785960,NaN,eng,NaN,NaN,NaN,10/1/2005,Vintage
freq,NaN,9,40,NaN,1,NaN,8911,NaN,NaN,NaN,56,318
mean,21310.938887,NaN,NaN,3.933631,NaN,9.759888e+12,NaN,336.376921,1.793641e+04,541.854498,NaN,NaN
std,13093.358023,NaN,NaN,0.352445,NaN,4.428964e+11,NaN,241.127305,1.124794e+05,2576.176608,NaN,NaN
min,1.000000,NaN,NaN,0.000000,NaN,8.987060e+09,NaN,0.000000,0.000000e+00,0.000000,NaN,NaN
25%,10287.000000,NaN,NaN,3.770000,NaN,9.780345e+12,NaN,192.000000,1.040000e+02,9.000000,NaN,NaN
50%,20287.000000,NaN,NaN,3.960000,NaN,9.780586e+12,NaN,299.000000,7.450000e+02,46.000000,NaN,NaN
75%,32104.500000,NaN,NaN,4.135000,NaN,9.780873e+12,NaN,416.000000,4.993500e+03,237.500000,NaN,NaN
max,45641.000000,NaN,NaN,5.000000,NaN,9.790008e+12,NaN,6576.000000,4.597666e+06,94265.000000,NaN,NaN

Percentage of missing values:

bookID                0.0
title                 0.0
authors               0.0
average_rating        0.0
isbn                  0.0
isbn13                0.0
language_code         0.0
  num_pages           0.0
ratings_count         0.0
text_reviews_count    0.0
publication_date      0.0
publisher             0.0
dtype: float64

In [14]:
# Drop useless columns / columns with too many missing values
useless_cols = ['bookID', 'isbn', 'isbn13']

print("Dropping useless columns...")
dataset = dataset.drop(useless_cols, axis=1) # axis = 1 indicates that we are dropping along the column axis
# never hesitate to look at a function's documentation using the command name_of_the_function?
print("...Done.")
print(dataset.head())

Dropping useless columns...
...Done.
                                               title  \
0  Harry Potter and the Half-Blood Prince (Harry ...
1  Harry Potter and the Order of the Phoenix (Har...
2  Harry Potter and the Chamber of Secrets (Harry...
3  Harry Potter and the Prisoner of Azkaban (Harr...
4  Harry Potter Boxed Set  Books 1-5 (Harry Potte...

                      authors  average_rating language_code    num_pages  \
0  J.K. Rowling/Mary GrandPré            4.57           eng          652
1  J.K. Rowling/Mary GrandPré            4.49           eng          870
2                J.K. Rowling            4.42           eng          352
3  J.K. Rowling/Mary GrandPré            4.56           eng          435
4  J.K. Rowling/Mary GrandPré            4.78           eng         2690

   ratings_count  text_reviews_count publication_date        publisher
0        2095690               27591       2006-09-16  Scholastic Inc.
1        2153167               29221       2004-09-01  Scholastic Inc.
2           6333                 244       2003-11-01       Scholastic
3        2339585               36325       2004-05-01  Scholastic Inc.
4          41428                 164       2004-09-13       Scholastic

In [20]:
dataset['publication_date']= pd.to_datetime(dataset['publication_date'], errors='coerce', format='%m/%d/%Y')
dataset.dtypes

title                         object
authors                       object
average_rating               float64
language_code                 object
  num_pages                    int64
ratings_count                  int64
text_reviews_count             int64
publication_date      datetime64[ns]
publisher                     object
dtype: object

In [19]:
dataset.dtypes

title                         object
authors                       object
average_rating               float64
language_code                 object
  num_pages                    int64
ratings_count                  int64
text_reviews_count             int64
publication_date      datetime64[ns]
publisher                     object
dtype: object

In [34]:
dataset.head()

,title,authors,average_rating,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,eng,652,2095690,27591,2006-09-16,Scholastic Inc.
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,eng,870,2153167,29221,2004-09-01,Scholastic Inc.
2,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,eng,352,6333,244,2003-11-01,Scholastic
3,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,eng,435,2339585,36325,2004-05-01,Scholastic Inc.
4,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,eng,2690,41428,164,2004-09-13,Scholastic

In [22]:
dataset.authors.value_counts()

Stephen King                                              40
P.G. Wodehouse                                            40
Rumiko Takahashi                                          39
Orson Scott Card                                          35
Agatha Christie                                           33
                                                          ..
Legs McNeil/Gillian McCain                                 1
Adam Woog                                                  1
Mikal Gilmore                                              1
Thich Nhat Hanh/Arnold Kotler/Dalai Lama XIV               1
William T. Vollmann/Larry McCaffery/Michael Hemmingson     1
Name: authors, Length: 6639, dtype: int64

In [30]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11123 entries, 0 to 11122
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               11123 non-null  object
 1   authors             11123 non-null  object
 2   average_rating      11123 non-null  float64
 3   language_code       11123 non-null  object
 4     num_pages         11123 non-null  int64
 5   ratings_count       11123 non-null  int64
 6   text_reviews_count  11123 non-null  int64
 7   publication_date    11121 non-null  datetime64[ns]
 8   publisher           11123 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 782.2+ KB

In [ ]:
new = dataset.authors.find()